@model AccountModel
@{
    ViewData["Title"] = "Home Page";
}



<html>

<head> </head>

<body>
    <div>
        @if (@Model == null || !@Model.LoggedIn)
        {
            <div id="login">
                <a asp-action="Login">Log in to Spotify</a>
            </div>
        }
        else
        {
            <div id="login">
                <p>Logged in as <a href="/login">@Model.Username Sign Out</a></p>
            </div>
            @using (Html.BeginForm("Search"))
            {
                <p>
                    <label for="site-search">Find album:</label>
                    <input type="search" id="site-search" name="s" aria-label="Album name">

                    <input id="btnSearchAlbum" class="btn-primary" type="submit" value="Search"></input>

                </p>
            }
        }
    </div>

</body>

</html>
